<div class="container-fluid">
    <div class="row"><div class="col-xs-12">
        {{#if note}}<h3 id="notetitle">{{ note.title }}</h3>{{/if}}
        {{#if note}}<p id="notebody">{{ note.body }}</p>{{/if}}
        <p>Key: {{ notekey }}</p>
    </div></div>
    {{#if user }}
    {{#if notekey }}
        <div class="row"><div class="col-xs-12">
        <div class="btn-group">
            <a class="btn btn-outline-dark" 
                href="/notes/destroy?key={{notekey}}"
                role="button">Delete</a>
            <a class="btn btn-outline-dark"
                href="/notes/edit?key={{notekey}}"
                role="button">Edit</a>
                <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#notes-comment-modal">Comment</button>
        </div>
        </div></div>
    {{/if}}
    {{/if}}
</div>
{{> footerjs}}  

{{#if notekey }}
<script src="/socket.io/socket.io.js"></script>
<script>
$(document).ready(function () {
let fauxURL = { query: { key: '{{ notekey }}' } };
//let socket = io('/notes', fauxURL);
var socket = io('http://localhost:5858/notes', fauxURL);
console.log(socket);
socket.on('noteupdated', note => {

$('h3#notetitle').empty();
$('h3#notetitle').text(note.title);
$('#navbartitle').empty();
$('#navbartitle').text(note.title);
$('#notebody').empty();
$('#notebody').text(note.body);
console.log(39, note);

});

socket.on('notedestroyed', key => {
window.location.href = "/";
});
/*
{{#if user}}
$('#submitNewComment').on('click', function(event) {
socket.emit('create-message', {
from: $('#comment-from').val(),
namespace: $('#comment-namespace').val(),
room: $('#comment-room').val(),
key: $('#comment-key').val(),
message: $('#noteCommentTextArea').val()
},
response => {
$('#notes-comment-modal').modal('hide');
$('#noteCommentTextArea').empty();
});
});
{{/if}}
*/
});
</script>
{{/if}}